<!DOCTYPE html>
<html>
<head>
    <title>Historia operacji</title>
</head>
<body>
    <h1>Historia operacji:</h1>
    <ul>
        {% for transaction in history_data %}
            <li>
                {{ transaction.timestamp }} -
                {% if transaction.operation == 'Zakup' %}
                    Zakup produktu: {{ transaction.product.name }}, ilość: {{ transaction.quantity }}
                {% elif transaction.operation == 'Sprzedaż' %}
                    Sprzedaż produktu: {{ transaction.product.name }}, ilość: {{ transaction.quantity }}
                {% elif transaction.operation == 'Zmiana Salda' %}
                    Zmiana salda o: {{ transaction.quantity }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('index') }}">Powrót</a>
</body>
</html>
